<form
  name="orders"
  method="POST"
  data-netlify="true"
  hidden
  aria-hidden="true"
>
  <input type="hidden" name="form-name" value="orders" />
  <input type="text" name="customer_name" />
  <input type="text" name="bean_id" />
  <input type="text" name="bean_name" />
  <input type="text" name="page_path" />
  <input type="text" name="created_at_client" />
</form>
